.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  width: 80%;
  margin-left: 10%;
}
.header .logo img {
  border-radius: 30px;
  margin-top: 10px;
  margin-left: 30px;
  height: 60px;
  width: 150px;
}
.header .phone {
  margin-right: 5%;
}
.header .nav {
  display: flex;
  margin-right: 15%;
  margin-top: 1%;
}
.header .nav .nav-list {
  display: flex;
  list-style: none;
}
.header .nav .nav-list .nav-item {
  margin-left: 20px;
}
.header .nav .nav-list .nav-item a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s;
  font-size: 20px;
  font-weight: 600;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.header .nav .nav-list .nav-item a:hover {
  color: #555;
}
.header .burger-menu {
  display: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
}
.header .burger-menu .bar {
  width: 100%;
  height: 4px;
  background-color: #333;
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  .header {
    position: relative;
  }
  .header .logo {
    margin-bottom: 20px;
    position: relative;
    right: 20%;
  }
  .header .logo a img {
    height: 30px;
    width: 50px;
  }
  .header .phone {
    display: none;
  }
  .header .nav {
    display: none;
  }
  .header .nav.active {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    top: 60px;
    width: 96%;
    padding: 20px;
  }
  .header .nav.active .nav-list {
    display: block;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    position: relative;
    left: 10%;
  }
  .header .nav.active .nav-list .nav-item {
    margin: 3px 0;
    margin-right: 25px;
    font-size: 5px;
  }
  .header .burger-menu {
    display: block;
    position: relative;
  }
}
@media (max-width: 1025px) {
  .header {
    width: 90%;
  }
  .header .nav .nav-list .nav-item a {
    font-size: 12px;
  }
  .header .phone {
    display: none;
  }
}
@media (max-width: 1250px) {
  .header .nav .nav-list .nav-item a {
    font-size: 16px;
  }
}
.haqqimizda h1 {
  margin-top: 10%;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.haqqimizda img {
  width: 300px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
  margin-top: 20px;
  margin-left: 10%;
}
.haqqimizda .haqqimizda-m {
  width: 300px;
  margin-top: 20px;
  margin-left: 10%;
}
.haqqimizda .haqqimizda-m h2 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.haqqimizda .haqqimizda-m h3 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.haqqimizda .haqqimizda-m span {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-weight: 600;
}

@media (max-width: 768px) {
  .haqqimizda h1 {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  .haqqimizda img {
    width: 200px;
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 20px;
    margin-top: 20px;
  }
  .haqqimizda .haqqimizda-m {
    width: 200px;
    margin-top: 20px;
  }
  .haqqimizda .haqqimizda-m h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  .haqqimizda .haqqimizda-m h3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  .haqqimizda .haqqimizda-m span {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 18px;
    font-weight: 600;
  }
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  padding: 20px;
}
.footer .left-section {
  align-items: center;
}
.footer .left-section .logo {
  font-size: 20px;
  font-weight: bold;
}
.footer .left-section .logo img {
  width: 150px;
  height: 70px;
  border-radius: 30px;
}
.footer .left-section h4 {
  display: block;
  margin-top: 10px;
}
.footer .left-section .quote {
  font-size: 14px;
  color: #666;
}
.footer .middle-section {
  display: flex;
  align-items: center;
}
.footer .middle-section .map {
  width: 600px;
  height: 150px;
  background-color: #ddd;
}
.footer .middle-section .map iframe {
  height: 150px;
}
.footer .right-section {
  display: flex;
  align-items: flex-end;
}
.footer .right-section .icons {
  display: flex;
  flex-direction: column;
}
.footer .right-section .icons .icon {
  font-size: 16px;
  margin-bottom: 10px;
}
.footer .right-section .icons .icon a {
  display: block;
  text-decoration: none;
  color: rgb(124, 124, 124);
  font-size: 25px;
}
.footer .right-section .icons .icon a:hover {
  color: rgb(105, 151, 236);
}

@media (max-width: 768px) {
  .footer .middle-section .map {
    width: 150px;
  }
  .footer .middle-section .map iframe {
    width: 150px;
    height: 150px;
  }
  .footer .right-section {
    display: none;
  }
}
@media (max-width: 1025px) {
  .footer .middle-section .map {
    width: 200px;
  }
  .footer .middle-section .map iframe {
    width: 200px;
    height: 150px;
  }
}
#sabitIkon {
  position: fixed;
  top: 95%;
  right: 15px;
  transform: translateY(-50%);
  z-index: 9999;
  cursor: pointer;
}
#sabitIkon img {
  width: 50px;
  border-radius: 20px;
  height: 50px;
}
#sabitIkon .altIkonlar {
  display: none;
  position: absolute;
  bottom: 50%;
  right: 100%;
  width: 150px;
  background-color: #65bc54;
  border-radius: 10px;
}
#sabitIkon .altIkonlar li {
  margin-bottom: 10px;
  list-style: none;
  margin-right: 20px;
}
#sabitIkon .altIkonlar li a {
  font-size: 12px;
  font-weight: 600;
  display: block;
  text-decoration: none;
  color: #000;
}
#sabitIkon .altIkonlar li a i {
  font-size: 15px;
}
#sabitIkon.aktif .altIkonlar {
  display: block;
}/*# sourceMappingURL=haqiqimizda.css.map */