@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Inter:wght@100;200;300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700&family=Source+Code+Pro:wght@300;400;500;600;700;800&display=swap");
html {
  scroll-behavior: auto !important;
}

.HomeMenu {
  width: 100%;
  position: relative;
  height: 640px;
}
@media (max-width: 768px) {
  .HomeMenu {
    height: 300px;
    padding: 0 20px;
  }
}
.HomeMenu .nav_container {
  position: relative;
}
.HomeMenu .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 30px;
  width: 100%;
}
.HomeMenu .header .logo img {
  border-radius: 30px;
  height: 60px;
  width: 150px;
}
@media (max-width: 560px) {
  .HomeMenu .header .logo img {
    height: 50px;
    width: 110px;
  }
}
.HomeMenu .header .phone {
  margin-right: 5%;
}
.HomeMenu .header .nav {
  display: flex;
}
.HomeMenu .header .nav .nav-list {
  display: flex;
  list-style: none;
  gap: 40px;
  margin: 0;
}
.HomeMenu .header .nav .nav-list .nav-item a {
  text-decoration: none;
  transition: color 0.3s;
  color: #FFF;
  font-family: Comfortaa;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.18px;
}
.HomeMenu .header .nav .nav-list .nav-item a:hover {
  color: #555;
}
.HomeMenu .header .burger-menu {
  display: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
}
.HomeMenu .header .burger-menu .bar {
  width: 100%;
  height: 4px;
  background-color: #333;
  margin-bottom: 5px;
}
.HomeMenu .Menu-h1 h1 {
  color: #FFF;
  font-family: Comfortaa;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 149%;
  margin-top: 80px;
  margin-left: 30px;
}
@media (max-width: 768px) {
  .HomeMenu .Menu-h1 h1 {
    font-size: 30px;
    margin: 30px 0;
  }
}
.HomeMenu .image-wrapper {
  position: absolute;
  display: flex;
  gap: 20px;
  bottom: -70px;
  right: 100px;
}
.HomeMenu .image-wrapper a {
  text-decoration: none;
  display: inline;
}
.HomeMenu .image-wrapper a img {
  width: calc(33.33% - 10px);
  height: auto;
  border: none;
  width: 150px;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}
.HomeMenu .image-wrapper a img:first-child, .HomeMenu .image-wrapper a img:last-child {
  margin: 0;
}
.HomeMenu .image-wrapper a h5 {
  bottom: 50%;
  text-align: center;
  position: relative;
  color: #FFF;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
@media (max-width: 768px) {
  .HomeMenu .image-wrapper {
    display: none !important;
  }
}
@media (max-width: 991px) {
  .HomeMenu .nav {
    display: none !important;
  }
  .HomeMenu .header {
    padding: 20px 0;
  }
  .HomeMenu .burger-menu {
    display: block !important;
  }
}
.HomeMenu .mobile-menu {
  display: none;
  position: absolute;
  background-color: white;
  border-radius: 10px;
  padding: 15px 30px;
  right: 5px;
  top: 70px;
}
.HomeMenu .mobile-menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.HomeMenu .mobile-menu ul li {
  font-family: Comfortaa;
  padding: 5px 0;
}
.HomeMenu .mobile-menu ul li a {
  color: black;
  text-decoration: none;
  font-size: 18px;
}

h1 {
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 35px;
  font-weight: 600;
}

.slider-container {
  position: relative;
  width: 80%;
  overflow: hidden;
  left: 10%;
}
.slider-container .slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.slider-container .slider .slider-item {
  position: relative;
  flex: 1;
  margin-left: 10px;
  width: 80px;
  height: 400px;
}
.slider-container .slider .slider-item img {
  border-radius: 8px;
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.slider-container .slider .slider-item .slider-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  margin-top: 15px;
  padding: 10px;
  border: 1px black;
}
.slider-container .slider .slider-item .slider-caption h3 {
  margin: 0;
  font-size: 22px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  color: #000;
}
.slider-container .slider .slider-item .slider-caption p {
  margin-top: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
}
.slider-container .slider .slider-item .slider-caption .qiymet {
  font-size: 22px;
  font-weight: 700;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.slider-container .slider .slider-item .slider-caption .Star i {
  color: #ffa534;
}
.slider-container .slider-nav {
  position: relative;
  top: 30%;
  left: 100%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
}
.slider-container .slider-nav button {
  border: none;
  background-color: transparent;
  color: black;
  font-size: 24px;
  margin: 0 10px;
  cursor: pointer;
}
.slider-container .slider-nav button:hover {
  color: #ccc;
}
.slider-container .slider-nav .slider-dots {
  display: flex;
  margin: 0;
  padding: 0;
}
.slider-container .slider-nav .slider-dots button {
  border: none;
  background-color: transparent;
  width: 10px;
  height: 10px;
}

.product {
  position: relative;
  padding: 20px;
  margin-top: 100px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.product .product-category {
  color: #1A1A1A;
  font-family: Comfortaa;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 20px;
}
.product .product-container {
  display: flex;
  scroll-behavior: smooth;
}
.product .product-container::-webkit-scrollbar {
  display: none;
}
.product .product-container .next1,
.product .product-container .prev1,
.product .product-container .swiper-button-next2,
.product .product-container .swiper-button-prev2 {
  margin-top: 20px;
}
.product .product-container .next1::after,
.product .product-container .prev1::after,
.product .product-container .swiper-button-next2::after,
.product .product-container .swiper-button-prev2::after {
  font-size: 40px;
  color: black;
}
.product .product-card {
  width: 240px;
  height: 370px;
  background-color: rgb(170, 170, 218);
  border-radius: 10px;
}
.product .product-card .product-image {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
}
.product .product-card .product-image a img {
  border-radius: 10px;
}
.product .product-card .product-image .product-thumb {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.product .product-card .product-image .discount-tag {
  position: absolute;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  color: #ff7d7d;
  top: 10px;
  text-transform: capitalize;
}
.product .product-card .product-image .card-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 90%;
  text-transform: capitalize;
  border: none;
  outline: none;
  background: #fff;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
}
.product .product-card .product-image:hover .card-btn {
  opacity: 1;
}
.product .product-card .card-btn:hover {
  background: #ff7d7d;
  color: #fff;
}
.product .product-card .product-info {
  width: 100%;
  height: 100px;
  padding-top: 10px;
}
.product .product-card .product-info .product-brand {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.product .product-card .product-info .product-short-description {
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
}
.product .product-card .product-info .price {
  font-weight: 500;
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.product .product-card .product-info i {
  margin-top: 10px;
  color: #f49300;
}
.product .pre-btn,
.product .nxt-btn {
  border: none;
  width: 10vw;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
  cursor: pointer;
  z-index: 8;
}
.product .pre-btn {
  left: 0;
  transform: rotate(180deg);
}
.product .pre-btn i {
  opacity: 0.2;
  font-size: 20px;
}
.product .pre-btn:hover i {
  opacity: 1;
}
.product .nxt-btn {
  right: 0;
}
.product .nxt-btn i {
  opacity: 0.2;
  font-size: 20px;
}
.product .nxt-btn:hover i {
  opacity: 1;
}

@media (max-width: 768px) {
  .product {
    margin-top: 50px;
  }
  .product .product-category {
    font-size: 20px;
  }
  .product .product-container .product-card {
    overflow: hidden;
    width: 250px;
    height: 320px;
  }
  .product .product-container .product-card .product-image {
    width: 100%;
    height: 150px;
  }
  .product .product-container .product-card .product-info {
    height: 50px;
  }
}
.Bizimle-Elaqe {
  display: flex;
  margin-top: 2%;
}
.Bizimle-Elaqe .elaqe {
  display: inline;
}
.Bizimle-Elaqe .elaqe h1 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  position: relative;
  display: block;
  right: 20%;
}
.Bizimle-Elaqe .elaqe h2 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 25px;
}
.Bizimle-Elaqe .elaqe a {
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: black;
  font-size: 20px;
}
.Bizimle-Elaqe .elaqe-photo a button {
  border: 2px solid rgb(97, 150, 185);
  border-radius: 10px;
  background-color: white;
  width: 150px;
  color: rgb(97, 150, 185);
  font-size: 18px;
  font-weight: 700;
  margin-top: 15px;
}
.Bizimle-Elaqe .elaqe-photo a button:hover {
  border: none;
  background-color: rgb(97, 150, 185);
  color: white;
}

@media (max-width: 768px) {
  .Bizimle-Elaqe .elaqe h1 {
    font-size: 25px;
    margin-left: 100px;
  }
  .Bizimle-Elaqe .elaqe h2 {
    font-size: 18px;
  }
  .Bizimle-Elaqe .elaqe a p {
    font-size: 15px;
  }
  .Bizimle-Elaqe .elaqe-photo {
    margin-top: 15px;
  }
  .Bizimle-Elaqe .elaqe-photo h2 {
    font-size: 20px;
  }
  .Bizimle-Elaqe .elaqe-photo a button {
    width: 100px;
  }
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  padding: 20px;
}
.footer .left-section {
  align-items: center;
}
.footer .left-section .logo {
  font-size: 20px;
  font-weight: bold;
}
.footer .left-section .logo img {
  width: 150px;
  height: 70px;
  border-radius: 30px;
}
.footer .left-section h4 {
  display: block;
  margin-top: 10px;
}
.footer .left-section .quote {
  font-size: 14px;
  color: #666;
}
.footer .middle-section {
  display: flex;
  align-items: center;
}
.footer .middle-section .map {
  width: 600px;
  height: 150px;
  background-color: #ddd;
}
.footer .middle-section .map iframe {
  height: 150px;
}
.footer .right-section {
  display: flex;
  align-items: flex-end;
}
.footer .right-section .icons {
  display: flex;
  flex-direction: column;
}
.footer .right-section .icons .icon {
  font-size: 16px;
  margin-bottom: 10px;
}
.footer .right-section .icons .icon a {
  display: block;
  text-decoration: none;
  color: rgb(124, 124, 124);
  font-size: 25px;
}
.footer .right-section .icons .icon a:hover {
  color: rgb(105, 151, 236);
}

@media (max-width: 768px) {
  .footer .left-section {
    margin-right: 10px;
  }
  .footer .left-section .logo img {
    width: 80px;
    height: 40px;
  }
  .footer .left-section h4 {
    font-size: 14px;
  }
  .footer .left-section p {
    font-size: 12px;
  }
  .footer .middle-section .map {
    width: 120px;
  }
  .footer .middle-section .map iframe {
    width: 100px;
    height: 150px;
  }
  .footer .right-section {
    display: none;
  }
}
@media (max-width: 1025px) {
  .footer .middle-section .map {
    width: 200px;
  }
  .footer .middle-section .map iframe {
    width: 200px;
    height: 150px;
  }
}
#sabitIkon {
  position: fixed;
  top: 95%;
  right: 15px;
  transform: translateY(-50%);
  z-index: 9999;
  cursor: pointer;
}
#sabitIkon img {
  width: 50px;
  border-radius: 20px;
  height: 50px;
}
#sabitIkon .altIkonlar {
  display: none;
  position: absolute;
  bottom: 50%;
  right: 100%;
  width: 150px;
  background-color: #65bc54;
  border-radius: 10px;
}
#sabitIkon .altIkonlar li {
  margin-bottom: 10px;
  list-style: none;
  margin-right: 20px;
}
#sabitIkon .altIkonlar li a {
  font-size: 12px;
  font-weight: 600;
  display: block;
  text-decoration: none;
  color: #000;
}
#sabitIkon .altIkonlar li a i {
  font-size: 15px;
}
#sabitIkon.aktif .altIkonlar {
  display: block;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.mob-active {
  display: block !important;
}

.preloader {
  position: absolute;
  left: 0;
  top: 0;
  width: 100% !important;
  height: 100vh !important;
  background-color: white;
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.none {
  display: none !important;
}

.block {
  display: flex !important;
}

.overflow {
  overflow-y: hidden !important;
  height: 100vh !important;
}/*# sourceMappingURL=Home.css.map */