@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Comfortaa:wght@300;400;500;600;700&family=Inter:wght@100;200;300;400;500;600;700;800&family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700&family=Source+Code+Pro:wght@300;400;500;600;700;800&display=swap");
.header_container {
  background: #D6DFE8;
  width: 100%;
  padding: 0 15px;
}

.nav_container {
  position: relative;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  width: 100%;
}
.header .mobile-menu {
  display: none;
  position: absolute;
  background-color: white;
  border-radius: 10px;
  padding: 15px 30px;
  right: 5px;
  top: 70px;
  z-index: 1000;
}
.header .mobile-menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.header .mobile-menu ul li {
  font-family: Comfortaa;
  padding: 5px 0;
}
.header .mobile-menu ul li a {
  color: black;
  text-decoration: none;
  font-size: 18px;
}
.header .logo img {
  border-radius: 30px;
  height: 60px;
  width: 150px;
}
@media (max-width: 560px) {
  .header .logo img {
    height: 50px;
    width: 110px;
  }
}
.header .phone {
  margin-right: 5%;
}
.header .nav {
  display: flex;
}
.header .nav .nav-list {
  display: flex;
  list-style: none;
  gap: 40px;
  margin: 0;
}
.header .nav .nav-list .nav-item a {
  text-decoration: none;
  transition: color 0.3s;
  color: #555;
  font-family: Comfortaa;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.18px;
}
.header .nav .nav-list .nav-item a:hover {
  color: #FFF;
}
.header .burger-menu {
  display: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
}
.header .burger-menu .bar {
  width: 100%;
  height: 4px;
  background-color: #333;
  margin-bottom: 5px;
}

@media (max-width: 991px) {
  .nav {
    display: none !important;
  }
  .header {
    padding: 20px 0;
  }
  .burger-menu {
    display: block !important;
  }
}
.daxilitur {
  margin-top: 20px;
  padding: 30px 0 70px 0;
}
.daxilitur h1 {
  text-align: center;
  font-family: Comfortaa;
  margin-bottom: 20px;
}
.daxilitur .product-card {
  width: 100%;
  background-color: rgb(170, 170, 218);
  border-radius: 10px;
}
@media (max-width: 576px) {
  .daxilitur .product-card {
    margin-bottom: 15px;
  }
}
.daxilitur .product-card .product-image {
  position: relative;
  width: 100%;
  height: 220px;
  overflow: hidden;
}
.daxilitur .product-card .product-image a img {
  width: 100%;
  border-radius: 10px;
}
.daxilitur .product-card .product-image .product-thumb {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.daxilitur .product-card .product-image .discount-tag {
  position: absolute;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  color: #ff7d7d;
  right: 10px;
  top: 10px;
  text-transform: capitalize;
}
.daxilitur .product-card .product-image .card-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 90%;
  text-transform: capitalize;
  border: none;
  outline: none;
  background: #fff;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
}
.daxilitur .product-card .product-image:hover .card-btn {
  opacity: 1;
}
.daxilitur .product-card .card-btn:hover {
  background: #ff7d7d;
  color: #fff;
}
.daxilitur .product-card .product-info {
  width: 100%;
  padding: 15px;
  height: 130px;
}
.daxilitur .product-card .product-info .product-brand {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 22px;
}
.daxilitur .product-card .product-info .product-short-description {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
.daxilitur .product-card .product-info .price {
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}
.daxilitur .product-card .product-info i {
  margin-top: 10px;
  color: #f49300;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  padding: 20px;
}
.footer .left-section {
  align-items: center;
}
.footer .left-section .logo {
  font-size: 20px;
  font-weight: bold;
}
.footer .left-section .logo img {
  width: 150px;
  height: 70px;
  border-radius: 30px;
}
.footer .left-section h4 {
  display: block;
  margin-top: 10px;
}
.footer .left-section .quote {
  font-size: 14px;
  color: #666;
}
.footer .middle-section {
  display: flex;
  align-items: center;
}
.footer .middle-section .map {
  width: 600px;
  height: 150px;
  background-color: #ddd;
}
.footer .middle-section .map iframe {
  height: 150px;
}
.footer .right-section {
  display: flex;
  align-items: flex-end;
}
.footer .right-section .icons {
  display: flex;
  flex-direction: column;
}
.footer .right-section .icons .icon {
  font-size: 16px;
  margin-bottom: 10px;
}
.footer .right-section .icons .icon a {
  display: block;
  text-decoration: none;
  color: rgb(124, 124, 124);
  font-size: 25px;
}
.footer .right-section .icons .icon a:hover {
  color: rgb(105, 151, 236);
}

@media (max-width: 768px) {
  .footer .left-section {
    margin-right: 10px;
  }
  .footer .left-section .logo img {
    width: 80px;
    height: 40px;
  }
  .footer .left-section h4 {
    font-size: 14px;
  }
  .footer .left-section p {
    font-size: 12px;
  }
  .footer .middle-section .map {
    width: 120px;
  }
  .footer .middle-section .map iframe {
    width: 100px;
    height: 150px;
  }
  .footer .right-section {
    display: none;
  }
}
@media (max-width: 1025px) {
  .footer .middle-section .map {
    width: 200px;
  }
  .footer .middle-section .map iframe {
    width: 200px;
    height: 150px;
  }
}
#sabitIkon {
  position: fixed;
  top: 95%;
  right: 15px;
  transform: translateY(-50%);
  z-index: 9999;
  cursor: pointer;
}
#sabitIkon img {
  width: 50px;
  border-radius: 20px;
  height: 50px;
}
#sabitIkon .altIkonlar {
  display: none;
  position: absolute;
  bottom: 50%;
  right: 100%;
  width: 150px;
  background-color: #65bc54;
  border-radius: 10px;
}
#sabitIkon .altIkonlar li {
  margin-bottom: 10px;
  list-style: none;
  margin-right: 20px;
}
#sabitIkon .altIkonlar li a {
  font-size: 12px;
  font-weight: 600;
  display: block;
  text-decoration: none;
  color: #000;
}
#sabitIkon .altIkonlar li a i {
  font-size: 15px;
}
#sabitIkon.aktif .altIkonlar {
  display: block;
}

.mob-active {
  display: block !important;
}

.preloader {
  position: absolute;
  left: 0;
  top: 0;
  width: 100% !important;
  height: 100vh !important;
  background-color: white;
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.none {
  display: none !important;
}

.block {
  display: flex !important;
}

.overflow {
  overflow-y: hidden !important;
  height: 100vh !important;
}/*# sourceMappingURL=visa.css.map */