<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/vendors/css/bootstrap.css">
  <link rel="stylesheet" href="/vendors/js/jquery-3.6.0.min.js">
  <link rel="stylesheet" href="/css/DProduct.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css ">
</head>

<body>
  <header class="header">
    <div class="logo">
      <a href="/">
        <img style="height: 60px; width: 150px;" src="/photo/RECENTRAVEL (1).jpg" alt="">
      </a>

    </div>
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item"><a href="/">Menu</a></li>
        <li class="nav-item"><a href="/about">Haqqımızda</a></li>

        <li class="nav-item"><a href="/daxilitur">Daxili Turlar</a></li>
        <li class="nav-item"><a href="/xaricitur">Xarici Turlar</a></li>


      </ul>
    </nav>
    <div class="phone"><i class="fa-solid fa-phone">+(994 51) 290-21-90</i></div>
    <div class="burger-menu">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
  </header>
  <section class="dproduct">
    <div class="container">
      <div class="row">
        <h1>
          <%= dTur.cityName %> Turu
        </h1>
        <div class="col-lg-6 col-12 col-md-12">
          <div class="dprom">
            <h3>
              <%= dTur.title %>
            </h3>
           
            <h2>
              <%= dTur.price %> AZN
            </h2>
          </div>
        </div>
        <div class="col-lg-6 col-12 col-md-12">
          <div class="dpimg">
            <img src="<%= dTur.imagePath %>" alt="">
          </div>
        </div>
        <div class="dproel">
          <a href="https://wa.me/+994513730141">
            <button>
              Əldə et
            </button>
          </a>
        </div>
      </div>
    </div>
  </section>

  <footer class="footer">
    <div class="left-section">
      <div class="logo">
        <img src="/photo/RECENTRAVEL (1).jpg" alt="">
      </div>
      <h4>2023</h4>
      <p>Bütün hüquqlarınız qorunur</p>
    </div>

    <div class="middle-section">
      <div class="map">
        <iframe src="https://www.google.com/maps/d/embed?mid=1OhM47MSesRsNOhmxU7wkrw2XyefjbEw&ehbc=2E312F" width="640"
          height="480"></iframe>
      </div>

    </div>
    <div class="right-section">
      <div class="icons">
        <div class="icon"><a href="https://www.instagram.com/recentravel.az/"><i class="fa-brands fa-instagram"></i></a>
        </div>

        <div class="icon"><a href="https://www.tiktok.com/@recentravel.az"><i class="fa-brands fa-tiktok"></i></a></div>
        <div class="icon"><a href=""><i class="fa-brands fa-facebook"></i></a></div>
        <div class="icon"><a href=""><i class="fa-brands fa-youtube"></i></a></div>
      </div>
    </div>
  </footer>
  <!-- wp-start -->
  <div id="sabitIkon">
    <i class="fa-brands fa-whatsapp"></i>
    <ul class="altIkonlar">
      <li>
        <a href="https://wa.me/+994512902190" target="_blank">
          <i class="fa-brands fa-whatsapp"></i>
          Xarici tur-Visa</a>
      </li>
      <li>
        <a href="https://wa.me/+994513730141" target="_blank">
          <i class="fa-brands fa-whatsapp"></i>
          Daxili Tur</a>
      </li>
      <li>
        <a href="https://wa.me/+994512902191" target="_blank">
          <i class="fa-brands fa-whatsapp"></i>
          Aviobilet</a>
      </li>
    </ul>
  </div>
  <script src="/js/DProduct.js"></script>
</body>

</html>