<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/vendors/css/bootstrap.css">
</head>

<body class="d-flex justify-content-center align-items-center">
    <form action="/change-password" method="post" class="registration_form mt-5">
       

        <label for="">Əvvəlki şifrə:</label><br>
        <input type="password" name="oldpassword" required><br><br>

        <label for="">Yeni şifrə:</label><br>
        <input type="password" name="newpassword" required><br><br>

        <label for="">Yeni istifadəçi adı (istəyə bağlı):</label><br>
        <input type="password" name="newusername" ><br><br>

        <button type="submit" class="btn btn-primary mb-2">Yenilə</button>
        <!-- <h6>Hesabınız var? <a href="/login">Daxil ol</a></h6> -->
    </form>

</body>

</html>