<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/vendors/css/bootstrap.css">
</head>

<body class="d-flex justify-content-center align-items-center">
    <form action="/register" method="post" class="registration_form mt-5">
        <label for="">İstifadəçi adı:</label><br>
        <input type="text" name="username" required><br><br>

        <label for="">Email:</label><br>
        <input type="email" name="email" required><br><br>

        <label for="">Şifrə:</label><br>
        <input type="password" name="password" required><br><br>

        <button type="submit" class="btn btn-primary mb-2">Qeydiyyatdan keç</button>
        <h6>Hesabınız var? <a href="/login">Daxil ol</a></h6>
    </form>

    <!-- <script>
        const form = document.querySelector('.registration_form');
        form.addEventListener('submit', async () => {
            try {
                const res = await fetch('')
            } catch (error) {
                
            }
        })
    </script> -->
</body>

</html>